.form-secret-textarea {
  &__input-wrapper {
    position: relative;
  }

  &__toggle {
    position: absolute;
    right: 8px;
  }

  &__masked {
    -webkit-text-security: disc;
    text-security: disc;
  }
}
